@{
    ViewBag.Title = "About";
}

<hgroup class="title">

</hgroup>

<article>
    <h3>
        Source code can be found on GitHub:
    </h3>

    <p>
        <a href="https://github.com/cld470">https://github.com/cld470</a>
    </p>

</article>

<aside>
    <h3>Navigation</h3>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("Source Code", "About", "Home")</li>
    </ul>
</aside>