@{
    ViewBag.Title = "About";
}

<hgroup class="title">

</hgroup>

<article>
    <h3>
        The following is the source code for this project:
    </h3>

    <p>
        Use this area to provide additional information.
    </p>

    <p>
        Use this area to provide additional information.
    </p>
</article>

<aside>
    <h3>Navigation</h3>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("Source Code", "About", "Home")</li>
    </ul>
</aside>