@{
    ViewBag.Title = "Design Chart";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<section class="contact">
<div>
    <img border="10" src="/images/Single Post Design.PNG"/>
</div>
</section>